name: Call js action
on:
  workflow_dispatch:

jobs:
  hello_world_job:
    runs-on: self-hosted
    name: A job to say hello
    steps:
      - name: Hello world action step
        id: hello
        uses: sumanshekhar23/javascript-action@v1.1.2
        with:
          who-to-greet: 'Shekhar'
      - name: Get the output time
        run: echo "The time was ${{ steps.hello.outputs.time }}"
